.popup-overlay {
  backdrop-filter: blur(10px) opacity(100%) brightness(90%);
}

.modal {
  margin-top: -11rem;
  font-size: 12px;
}

.modal > .content {
  margin: 0 auto;
  width: 90%;
  padding: 2em;
  padding-bottom: 2em;
  background-color: rgb(255, 255, 255);
  line-height: 20px;
  border: 2px solid rgb(241, 181, 77);
  border-radius: 15px;
}

.modal > .content .close {
  display: block;
  color: black;
  font-size: 2em;
  font-weight: bolder;
  float: right;
  position: relative;
  top: -10px;
  right: -10px;
  z-index: 1002;
}

#infoContent {
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  max-width: 400px;
}

#infoContent .oneImg {
  border-radius: 35px;
  margin-left: -15px;
  margin-bottom: 30px;
  width: 51px;
}

#infoContent .twoImg {
  border-radius: 35px;
  padding-left: 2px;
  margin-left: -16px;
  margin-bottom: 30px;
  width: 50px;
}

.threeImg {
  border-radius: 35px;
  padding-left: 2px;
  margin-left: -16px;
  width: 50px;
}

#text {
  width: 250px;
  margin-top: 2px;
  font-size: 1.3em;
}

.logOutBtnModal {
  display: flex;
  justify-content: end;
  background-color: rgba(9, 2, 2, 0.616);
  color: white;
}

.error {
  color: rgb(209, 23, 23);
  padding-top: 3rem;
  font-size: 3rem;
  margin-left: -0.8rem;
}
