#navbarBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}
  #home {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
  
}
#navbarInfo {
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}
 
