.css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type {
    background-color: #fdf6b4;
  }

  #panel2a-header {
    background: rgb(194, 233, 184);
  }

  .css-1elwnq4-MuiPaper-root-MuiAccordion-root:last-of-type{
  background-color: rgb(207, 227, 250);
  }  
  
  .sizeSmall {
    font-size: 22px;
    color: rgb(100, 171, 253)
  }
  .sizeMedium {
    font-size: 22px;
    color: rgb(232, 191, 9)
  }
  .sizeLarge {
    font-size: 22px;
    color: #07b604;
  }
