


.css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type {
    background-color: #fdf6b4b1;
  }

  .css-1elwnq4-MuiPaper-root-MuiAccordion-root .middleOption {
    background-color: rgba(233, 229, 249, 0.518);
  }

  .css-1elwnq4-MuiPaper-root-MuiAccordion-root:last-of-type{
  background-color: rgba(207, 227, 250, 0.81);
  }  
