.welcome-content {
    background-color: aqua;
    padding: 10px;
}

.welcome-header {
    background-color: rgb(252, 252, 119);
}

.welcome-box {
    background-color: rgb(128, 249, 128);
    margin-left: 7em;
    margin-right: 7em;
    height: 30vh;
}